<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>floorEnum</key>
		<integer>0</integer>
		<key>tableList</key>
		<array>
			<dict>
				<key>tableNumber</key>
				<string>A1</string>
				<key>maximumCustoms</key>
				<integer>6</integer>
				<key>floor</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>tableNumber</key>
				<string>A2</string>
				<key>maximumCustoms</key>
				<integer>6</integer>
				<key>floor</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>tableNumber</key>
				<string>A3</string>
				<key>maximumCustoms</key>
				<integer>6</integer>
				<key>floor</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>floorEnum</key>
		<integer>1</integer>
		<key>tableList</key>
		<array>
			<dict>
				<key>tableNumber</key>
				<string>B1</string>
				<key>maximumCustoms</key>
				<integer>4</integer>
				<key>floor</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>tableNumber</key>
				<string>B2</string>
				<key>maximumCustoms</key>
				<integer>4</integer>
				<key>floor</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>tableNumber</key>
				<string>B3</string>
				<key>maximumCustoms</key>
				<integer>4</integer>
				<key>floor</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>tableNumber</key>
				<string>B4</string>
				<key>maximumCustoms</key>
				<integer>4</integer>
				<key>floor</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>tableNumber</key>
				<string>B5</string>
				<key>maximumCustoms</key>
				<integer>4</integer>
				<key>floor</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>floorEnum</key>
		<integer>2</integer>
		<key>tableList</key>
		<array>
			<dict>
				<key>tableNumber</key>
				<string>C1</string>
				<key>maximumCustoms</key>
				<integer>6</integer>
				<key>floor</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>tableNumber</key>
				<string>C2</string>
				<key>maximumCustoms</key>
				<integer>6</integer>
				<key>floor</key>
				<integer>2</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
