<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>飲品</key>
	<array>
		<dict>
			<key>name</key>
			<string>無糖烏龍</string>
			<key>price</key>
			<integer>70</integer>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>森林的紅</string>
			<key>price</key>
			<integer>70</integer>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>森林的綠</string>
			<key>price</key>
			<integer>70</integer>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>森林的黑</string>
			<key>price</key>
			<integer>90</integer>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>森林的白</string>
			<key>price</key>
			<integer>90</integer>
			<key>type</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>點心</key>
	<array>
		<dict>
			<key>name</key>
			<string>森林爆米花</string>
			<key>price</key>
			<integer>70</integer>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>雞米花</string>
			<key>price</key>
			<integer>70</integer>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>雞塊</string>
			<key>price</key>
			<integer>70</integer>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>薯條</string>
			<key>price</key>
			<integer>70</integer>
			<key>type</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>主餐</key>
	<array>
		<dict>
			<key>name</key>
			<string>香草起司雞飯</string>
			<key>price</key>
			<integer>150</integer>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>紅酒燉牛肉飯</string>
			<key>price</key>
			<integer>150</integer>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>番茄肉醬義大利麵</string>
			<key>price</key>
			<integer>150</integer>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>奶油培根義大利麵</string>
			<key>price</key>
			<integer>150</integer>
			<key>type</key>
			<integer>2</integer>
		</dict>
	</array>
</dict>
</plist>
