<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>itemID</key>
			<string>b02</string>
			<key>name</key>
			<string>森林的紅</string>
			<key>price</key>
			<integer>70</integer>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>itemID</key>
			<string>b03</string>
			<key>name</key>
			<string>森林的綠</string>
			<key>price</key>
			<integer>70</integer>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>itemID</key>
			<string>b01</string>
			<key>name</key>
			<string>無糖烏龍</string>
			<key>price</key>
			<integer>70</integer>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>itemID</key>
			<string>b04</string>
			<key>name</key>
			<string>森林的黑</string>
			<key>price</key>
			<integer>100</integer>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>itemID</key>
			<string>b05</string>
			<key>name</key>
			<string>森林的白</string>
			<key>price</key>
			<integer>100</integer>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>itemID</key>
			<string>b06</string>
			<key>name</key>
			<string>森林可可亞</string>
			<key>price</key>
			<integer>100</integer>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>itemID</key>
			<string>b07</string>
			<key>name</key>
			<string>森林鮮奶茶</string>
			<key>price</key>
			<integer>100</integer>
			<key>type</key>
			<integer>0</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>itemID</key>
			<string>d01</string>
			<key>name</key>
			<string>森林爆米花</string>
			<key>price</key>
			<integer>80</integer>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>itemID</key>
			<string>d02</string>
			<key>name</key>
			<string>雞米花</string>
			<key>price</key>
			<integer>80</integer>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>itemID</key>
			<string>d03</string>
			<key>name</key>
			<string>雞塊</string>
			<key>price</key>
			<integer>80</integer>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>itemID</key>
			<string>d04</string>
			<key>name</key>
			<string>薯條</string>
			<key>price</key>
			<integer>80</integer>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>itemID</key>
			<string>d05</string>
			<key>name</key>
			<string>森林厚片 巧克力</string>
			<key>price</key>
			<integer>80</integer>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>itemID</key>
			<string>d06</string>
			<key>name</key>
			<string>森林厚片 草莓</string>
			<key>price</key>
			<integer>80</integer>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>itemID</key>
			<string>d07</string>
			<key>name</key>
			<string>奇多小餅乾</string>
			<key>price</key>
			<integer>80</integer>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>itemID</key>
			<string>d08</string>
			<key>name</key>
			<string>炸物拼盤</string>
			<key>price</key>
			<integer>200</integer>
			<key>type</key>
			<integer>1</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>itemID</key>
			<string>m05</string>
			<key>name</key>
			<string>豬肉米漢堡</string>
			<key>price</key>
			<integer>150</integer>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>itemID</key>
			<string>m01</string>
			<key>name</key>
			<string>香草起司雞飯</string>
			<key>price</key>
			<integer>170</integer>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>itemID</key>
			<string>m02</string>
			<key>name</key>
			<string>紅酒燉牛肉飯</string>
			<key>price</key>
			<integer>170</integer>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>itemID</key>
			<string>m04</string>
			<key>name</key>
			<string>奶油培根燉飯</string>
			<key>price</key>
			<integer>170</integer>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>itemID</key>
			<string>m06</string>
			<key>name</key>
			<string>茄汁野菇燉飯</string>
			<key>price</key>
			<integer>170</integer>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>itemID</key>
			<string>m03</string>
			<key>name</key>
			<string>番茄肉醬義大利麵</string>
			<key>price</key>
			<integer>170</integer>
			<key>type</key>
			<integer>2</integer>
		</dict>
	</array>
	<array>
		<dict>
			<key>itemID</key>
			<string>g01</string>
			<key>name</key>
			<string>套餐優惠</string>
			<key>price</key>
			<integer>-20</integer>
			<key>type</key>
			<integer>3</integer>
		</dict>
	</array>
</array>
</plist>
